Эх
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


html {
    color: #007afb !important;
}

body {
    background: rgb(255, 255, 255);
    border: 2vw solid #007afb;
}

.personal {
    color: #007afb;
    position: absolute;
    top: 125vw;
    font-size: 2.5vw;
    font-family: 'Montserrat', sans-serif;
    left: 24;
}

.one {
    position: absolute;
    top: 35vw;
    font-size: 6vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    left: 14vw;
}

.two {
    position: absolute;
    top: 55vw;
    font-size: 3vw;
    left: 14vw;
    max-width: 72vw;
    font-family: 'Montserrat', sans-serif;
}

.a {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 50vw;
}

.call {
    width: 40vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    position: absolute;
    border-radius: 10vw;
    top: 95vw;
    left: 14vw;
    border: 1vw solid #007afb;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.5vw;
}

a {
    color: #007afb !important;
    text-decoration: none !important;
}

.email {
    width: 70vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    position: absolute;
    border-radius: 10vw;
    color: #007afb !important;
    font-size: 3.5vw;
    top: 112vw;
    left: 14vw;
    border: 1vw solid #007afb;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.tg {
    position: absolute;
    top: 97vw;
    color: #007afb !important;
    width: 8vw;
    left: 68vw;
}

.whatsapp {
    position: absolute;
    top: 97vw;
    color: #007afb !important;
    width: 8vw;
    left: 78vw;
}

.viber {
    position: absolute;
    top: 97vw;
    color: #007afb !important;
    width: 8vw;
    left: 58vw;
}
.slogan {
    position: absolute;
    top: 132vw;
    left: 24vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}
