
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


html {
    color: #007afb;
}

body {
    background: rgb(255, 255, 255);
    border: 2vw solid #007afb;
}

.visit {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 3vw;
    right: 2vw;
    border: 1vw solid #007afb;
    border-top: none;
    padding: 2vw;
    background: #007afb;
    color: white;
    padding-bottom: 0.7vw;
}

.personal {
    color: #007afb;
    position: absolute;
    top: 142vw;
    font-size: 2.2vw;
    font-family: 'Montserrat', sans-serif;
    left: 27vw;
    font-weight: bold;
}

.one {
    position: absolute;
    top: 35vw;
    font-size: 6vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    left: 14vw;
}

.two {
    position: absolute;
    top: 53vw;
    font-size: 3vw;
    left: 14vw;
    max-width: 72vw;
    font-family: 'Montserrat', sans-serif;
}

.a {
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 50vw;
}

.call {
    width: 40vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    position: absolute;
    color: #007afb;
    border-radius: 10vw;
    top: 101vw;
    left: 14vw;
    border: 1vw solid #007afb;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.5vw;
    animation: tell;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

a {
    color: #007afb;
    text-decoration: none !important;
}

.email {
    width: 70vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    position: absolute;
    border-radius: 10vw;
    color: white;
    font-size: 3.5vw;
    top: 118vw;
    left: 14vw;
    border: 1vw solid #007afb;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    animation: email;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.tg {
    position: absolute;
    top: 103vw;
    width: 8vw;
    left: 68vw;
    animation: tg;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}

.whatsapp {
    position: absolute;
    top: 103vw;
    width: 8vw;
    left: 78vw;
    animation: wapp;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}

.viber {
    position: absolute;
    top: 103vw;
    width: 8vw;
    left: 58vw;
    animation: vb;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}
.slogan {
    position: absolute;
    top: 138vw;
    left: 24vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

.piar {
    position: fixed;
    bottom: 0;
    padding-bottom: 4vw;
    left: 2vw;
    width: 96%;
    height: 4vw;
    color: white;
    text-align: center;
    padding-top: 3vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2vw;
    background: #007afb;
}

.white {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2vw;
    background: white;
}

@keyframes tell {
    0% {
        color: #007afb !important;
        background: white;
        border: 1vw solid #007afb;
    }
    50% {
        color: white;
        background: #007afb;
        border: 1vw solid white;
    }
    100% {
        color: #007afb !important;
        background: white;
        border: 1vw solid #007afb;
    }
}


@keyframes email {
    0% {
        color: white !important;
        background: #007afb;
        border: 1vw solid white;
    }
    50% {
        color: #007afb;
        background: white;
        border: 1vw solid #007afb;
    }
    100% {
        color: white !important;
        background: #007afb;
        border: 1vw solid white;
    }
}


@keyframes tg {
    0% {
        transform: rotate(360deg);
    }
    10% {
        transform: rotate(360deg)
    }
    30% {
        transform: rotate(0);
    }
    70% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wapp {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(0)
    }
    30% {
        transform: rotate(360deg);
    }
    70% {
        transform: rotate(360deg);
    }
    90% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}


@keyframes vb {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(0)
    }
    30% {
        transform: rotate(360deg);
    }
    70% {
        transform: rotate(360deg);
    }
    90% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}
